Nokogiri
<br>
<%= @page.css("title").text %>
<br>
<%= @page.css("ul").length %>
<br>
<% @page.css("ul").each do |ul| %>
<h3>Lenght</h3>
  <%= ul.css("li").length %>
  <br>
  <% ul.css("li").each do |li| %>
    <%= li %>
    <br>
    <%# object["atributte"] %>
    <%= li["class"] %>
  <% end %>
  <br>
<% end %>
