<h2>Results</h2>

<h3>html Text</h3>
<%= @html %>
<br><br>
<!-- <h3>W3 Validation</h3>
<%# if @validator.valid? %>
  No errors
<%# else %>
  <%# @validator.errors.each do |error|%>
    <%# error %>
    <br>
  <%# end %>
<%# end %> -->
<%#raw @elements %>

<% if !@html_errors.empty? %>
  <b>Errors</b>
  <%= @html_errors  %>
<% else %>
  <%= "html Challenge Accomplish"%>
<% end %>


<h3>css Text</h3>
<%= @css %>
<br><br>

<% if !@css_errors.empty? %>
  <b>Errors</b>
  <%= @css_errors  %>
<% else %>
  <%= "css Challenge Accomplish"%>
<% end %>
