<h2>Results</h2>

<h3>Text</h3>
<%= @html %>
<br><br>
<!-- <h3>W3 Validation</h3>
<%# if @validator.valid? %>
  No errors
<%# else %>
  <%# @validator.errors.each do |error|%>
    <%# error %>
    <br>
  <%# end %>
<%# end %> -->
<%=raw @elements %>
<br><br>
<b>Errors</b>
<%= @html_errors %>
<br><br>
<b>Attributes</b>
<p>
  <%= @xml_name %>
  <%= @xml_attributes %>
</p>
